<!-- https://evad1n.github.io/collector_blog_client/ -->

<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="style.css">
    <title>ROOMS</title>
</head>

<div id="app" v-cloak>
    <v-app dark>
        <v-content>

            <!-- TOOLBAR -->
            <v-toolbar fixed app color="deep-purple darken-2" v-if="page != 'login'">
                <v-toolbar-title>Rooms</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn flat v-on:click="switchRoom('home')">HOME</v-btn>
                    <PrivateRoomCategory v-bind:title="'Messaging'" v-bind:type="'messages'"></PrivateRoomCategory>
                    <PrivateRoomCategory v-bind:title="'Game Rooms'" v-bind:type="'games'"></PrivateRoomCategory>
                </v-toolbar-items>
            </v-toolbar>


            <v-card-title class="display-1 justify-center" v-if="page != 'login' && welcome">Welcome {{username}}!
            </v-card-title>

            <v-container>
                <v-card-title v-if="page == 'login'" class="display-3 justify-center">WELCOME TO ROOMS</v-card-title>

                <!-- LOGIN -->
                <v-layout v-if="page == 'login'">
                    <v-flex xs3></v-flex>
                    <v-flex xs6>
                        <v-card id="login" elevation="18" color="blue darken-4">
                            <v-card-title class="display-1 justify-center">Enter a Username</v-card-title>
                            <v-card-text>
                                <v-text-field label="name" v-model="testUsername" outline color="grey"
                                    @keyup.enter="checkUsername()">
                                </v-text-field>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn block @click="checkUsername()">enter</v-btn>
                            </v-card-actions>
                            <v-card-text v-if="badName" class="subheading text-xs-center red">That username is already
                                taken</v-card-text>
                        </v-card>
                    </v-flex>
                    <v-flex xs3></v-flex>
                </v-layout>

                <!-- GLOBAL MESSAGING -->
                <v-layout v-if="page == 'home'">
                    <v-flex xs3>
                        <v-card elevation="18">
                            <v-card-title class="subheading justify-center">YOUR INVITES</v-card-title>
                            <div v-for="invite in invites">
                                <v-card-text>{{invite}}</v-card-text>
                                <v-btn @click="respondInvite(invite, true)">Accept</v-btn>
                                <v-btn @click="respondInvite(invite, false)">Decline</v-btn>
                            </div>
                        </v-card>
                    </v-flex>
                    <v-flex xs6>
                        <v-card-title class="display-2 justify-center">HOME</v-card-title>
                        <Messaging v-bind:route="'home'" v-bind:key="1"></Messaging>
                    </v-flex>
                    <v-flex xs3>
                        <v-card elevation="18">
                            <v-card-title class="subheading justify-center">Create Game Room</v-card-title>
                            <div v-for="game in games">
                                <v-card-text>{{game}}</v-card-text>
                                <v-btn @click="createGameRoom(game)">Create</v-btn>
                            </div>
                        </v-card>
                    </v-flex>
                </v-layout>

                <!-- PRIVATE MESSAGING -->
                <v-layout v-for="(room, index) in Object.keys(privateMessageRooms)" v-if="page == room">
                    <v-flex xs3>
                        <UserSearch v-if="getRoomHost(room) == username"></UserSearch>
                    </v-flex>
                    <v-flex xs6>
                        <v-card-title class="display-1 justify-center">{{privateMessageRooms[room].name}}</v-card-title>
                        <Messaging v-bind:route="room" v-bind:key="index"></Messaging>
                    </v-flex>
                    <v-flex xs3></v-flex>
                </v-layout>

                <!-- GAMES -->
                <v-layout v-for="(room, index) in Object.keys(privateGameRooms)" v-if="page == room">
                    <v-flex xs3>
                        <UserSearch v-if="getRoomHost(room) == username"></UserSearch>
                    </v-flex>
                    <v-flex xs6>
                        <!-- GAME BOARD HERE -->
                        <div v-if="getRoomType(page) == 'pictionary'">
                            <v-btn v-if="getRoomHost(room) == username" @click="pictionary.activatePictionary()">Start
                            </v-btn>
                            <canvas id="pictionary" ref="canvas" v-canvas width="400px" height="400px"></canvas>
                        </div>
                    </v-flex>
                    <v-flex xs3>
                        <Messaging v-bind:route="room" v-bind:key="index"></Messaging>
                    </v-flex>
                </v-layout>

                <!--NEW FORMAT-->
                <v-layout v-for="(room, index) in Object.keys(privateGameRooms)" v-if="page == room" justify-center>
                    <v-flex xs8>
                        <v-card>
                            <v-card-title class="display-1 justify-center text-uppercase">{{privateGameRooms[room].name}}</v-card-title>

                            <!--Game Socalizing Bar-->
                            <v-toolbar color="deep-purple lighten-1">
                                <v-toolbar-items>
                                    <v-btn flat @click="current_sidebar = 'invite'; sidebar = !sidebar;">Invite</v-btn>
                                    <v-btn flat @click="current_sidebar = 'chat'; sidebar = !sidebar;">Chat</v-btn>
                                </v-toolbar-items>
                            </v-toolbar>

                            <!--Game Window-->
                            <canvas id="pictionary" ref="canvas" v-canvas height="500px"></canvas>

                            <!--Game Statistics-->
                            <v-card-text>
                                <span>It is Your Turn</span>
                                <span class="float: right">Score: 6</span>
                            </v-card-text>

                            <!--Game Controls-->
                            <v-card-text>
                                <v-select :items="pictionary.colors" v-model="pictionary.marker_color"></v-select>
                                <v-text-field v-if="!isTurn" placeholder="What is this drawing?"></v-text-field>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                    <v-flex xs3 v-if="sidebar" justify-center>
                        <v-card v-if="current_sidebar == 'invite'" color="white" height="635px" light>
                            <v-card-title class="headline justify-center text-uppercase">Invite</v-card-title>
                            <v-card-text>
                                "Hello"
                            </v-card-text>
                        </v-card>
                        <v-card v-if="current_sidebar == 'chat'" color="white" height="635px" light>
                            <v-card-title class="headline justify-center text-uppercase">Chat</v-card-title>
                            <v-card-text v-for="message in messages">
                                {{message}}
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>

            </v-container>
        </v-content>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="script.js"></script>
<script src="games/pictionary.js"></script>

</html>