<!-- https://evad1n.github.io/collector_blog_client/ -->

<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="style.css">
    <title>ROOMS</title>
</head>

<div id="app" v-cloak>
    <v-app dark>
        <v-content>

            <!-- TOOLBAR -->
            <v-toolbar fixed app v-if="page != 'login'">
                <v-toolbar-title>ROOMS</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn flat v-on:click="switchRoom('home')">HOME</v-btn>
                    <PrivateRoomCategory v-bind:title="'Messaging'" v-bind:type="'messages'"></PrivateRoomCategory>
                    <PrivateRoomCategory v-bind:title="'Game Rooms'" v-bind:type="'games'"></PrivateRoomCategory>
                </v-toolbar-items>
            </v-toolbar>
            <v-card-title class="display-1 justify-center" v-if="page != 'login' && welcome">Welcome {{username}}!
            </v-card-title>

            <v-container>
                <v-card-title v-if="page == 'login'" class="display-3 justify-center">WELCOME TO ROOMS</v-card-title>

                <!-- LOGIN -->
                <v-layout v-if="page == 'login'">
                    <v-flex xs3></v-flex>
                    <v-flex xs6>
                        <v-card id="login" elevation="18" color="blue darken-4">
                            <v-card-title class="display-1 justify-center">Enter a Username</v-card-title>
                            <v-card-text>
                                <v-text-field label="name" v-model="testUsername" outline color="grey"
                                    @keyup.enter="checkUsername()">
                                </v-text-field>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn block @click="checkUsername()">enter</v-btn>
                            </v-card-actions>
                            <v-card-text v-if="badName" class="subheading text-xs-center red">That username is already
                                taken</v-card-text>
                        </v-card>
                    </v-flex>
                    <v-flex xs3></v-flex>
                </v-layout>

                <!-- GLOBAL MESSAGING -->
                <v-layout v-if="page == 'home'">
                    <v-flex xs3>
                        <v-card elevation="18">
                            <v-card-title class="subheading justify-center">YOUR INVITES</v-card-title>
                            <div v-for="invite in invites">
                                <v-card-text>{{invite}}</v-card-text>
                                <v-btn @click="respondInvite(invite, true)">Accept</v-btn>
                                <v-btn @click="respondInvite(invite, false)">Decline</v-btn>
                            </div>
                        </v-card>
                    </v-flex>
                    <v-flex xs6>
                        <v-card-title class="display-2 justify-center">HOME</v-card-title>
                        <Messaging v-bind:route="'home'" v-bind:key="1"></Messaging>
                    </v-flex>
                    <v-flex xs3>
                        <v-card elevation="18">
                            <v-card-title class="subheading justify-center">Create Game Room</v-card-title>
                            <div v-for="game in games">
                                <v-card-text>{{game}}</v-card-text>
                                <v-btn @click="createGameRoom(game)">Create</v-btn>
                            </div>
                        </v-card>
                    </v-flex>
                </v-layout>

                <!-- PRIVATE MESSAGING -->
                <v-layout v-for="(room, index) in Object.keys(privateMessageRooms)" v-if="page == room">
                    <v-flex xs3>
                        <UserSearch v-if="getRoomHost(room) == username"></UserSearch>
                    </v-flex>
                    <v-flex xs6>
                        <v-card-title class="display-1 justify-center">{{privateMessageRooms[room].name}}</v-card-title>
                        <Messaging v-bind:route="room" v-bind:key="index"></Messaging>
                    </v-flex>
                    <v-flex xs3></v-flex>
                </v-layout>

                <!-- GAMES -->
                <v-layout v-for="(room, index) in Object.keys(privateGameRooms)" v-if="page == room">
                    <v-flex xs3>
                        <UserSearch v-if="getRoomHost(room) == username"></UserSearch>
                    </v-flex>
                    <v-flex xs6>
                        <v-card-title class="display-1 justify-center">{{privateGameRooms[room].name}}</v-card-title>
                        <!-- GAME BOARD HERE -->
                    </v-flex>
                    <v-flex xs3>
                        <Messaging v-bind:route="room" v-bind:key="index"></Messaging>
                    </v-flex>
                </v-layout>

            </v-container>
        </v-content>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="script.js"></script>

</html>