<!-- https://evad1n.github.io/collector_blog_client/ -->

<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="style.css">
    <title>ROOMS</title>
</head>

<div id="app" v-cloak>
    <v-app dark>
        <v-content>
            <v-toolbar fixed app v-if="page != 'login'">
                <v-toolbar-title>ROOMS</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn flat v-for="room in rooms" v-on:click="page = room; welcome = false">{{room}}</v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-card-title class="display-1 justify-center" v-if="page != 'login' && welcome">Welcome {{username}}!</v-card-title>

            <v-container v-if="page == 'login'">
                <v-layout>
                    <v-flex xs3></v-flex>
                    <v-flex xs6>
                        <v-card id="login" elevation="18">
                            <v-card-title class="display-1 justify-center">Enter a Username</v-card-title>
                            <v-card-text>
                                <v-text-field label="name" v-model="username" outline color="grey"
                                    @keyup.enter="checkUsername()">
                                </v-text-field>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn block @click="checkUsername()">enter</v-btn>
                            </v-card-actions>
                            <v-card-text v-if="badName" class="subheading text-xs-center red">That username is already taken</v-card-text>
                        </v-card>
                    </v-flex>
                    <v-flex xs3></v-flex>
                </v-layout>
            </v-container>

            <v-container v-if="page == 'messaging'">
                <v-layout>
                    <v-flex xs3></v-flex>
                    <v-flex xs6>
                        <Messaging v-bind:route="'messaging/main'"></Messaging>
                    </v-flex>
                    <v-flex xs3></v-flex>
                </v-layout>
            </v-container>

            <v-container v-if="page == 'test'">
                <v-layout>
                    <v-flex xs2>
                        <v-card elevation="18">
                            <v-card-title class="subheading justify-center">PICK YOUR COLOR</v-card-title>
                            <div id="color-picker" v-bind:style="{ backgroundColor: 'rgb(' + color.r + ',' + color.g + ',' + color.b + ')' }"></div>
                            <v-slider v-model="color.r" :max="255" :min="0" :step="1"></v-slider>
                            <v-slider v-model="color.g" :max="255" :min="0" :step="1"></v-slider>
                            <v-slider v-model="color.b" :max="255" :min="0" :step="1"></v-slider>
                            <v-btn block @click="updateColor()">Update Color</v-btn>
                        </v-card>
                    </v-flex>
                    <v-flex xs8>
                        <v-card elevation="18">
                            <v-card-title class="display-1 justify-center">TESTING</v-card-title>
                            <div id="board">
                                <div v-for="character in characters"
                                    v-bind:style="{ top: character.position.y + 'px', left: character.position.x + 'px', backgroundColor: 'rgb(' + color.r + ',' + color.g + ',' + color.b + ')' }"
                                    class="character"></div>
                            </div>
                            <v-card-title class="headline justify-center">Use WASD to move</v-card-title>
                        </v-card>
                    </v-flex>
                    <v-flex xl6 id="game-messages">
                            <Messaging v-bind:route="'game/messaging'"></Messaging>
                    </v-flex>
                </v-layout>
            </v-container>

            <v-container v-if="page == 'components'">
                <v-layout>
                    <v-flex xs3></v-flex>
                    <v-flex xs6>
                        <Messaging v-bind:route="'messaging/main'"></Messaging>
                        <Messaging v-bind:route="'messaging/side'"></Messaging>
                    </v-flex>
                    <v-flex xs3></v-flex>
                </v-layout>
            </v-container>

        </v-content>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="script.js"></script>

</html>