[v-cloak]{
    display: none;
}

:root{
    --box-size: 100px;
}

#app {
    background-color: #DCEDC8;
    font-family: 'Signika', cursive;
}

#login {
    margin-top: calc(50vh - 250px);
}

.toolbar-divider {
    background-color: rgba(0,0,0,.54);
    width: 2.5px;
    height: 100%;
}

.list > div:not(:first-child){
    border-top: 2px solid rgba(0,0,0,.54);
    background-color: #AED581;
    padding-bottom: 10px;
}

.user-search {
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: #558B2F;
    width: 80%;
    margin: 0 auto;
}

.user-search p {
    align-self: flex-start;
    height: 50%;
}

.messages-container {
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,.54);
    overflow-y: auto;
    overflow-wrap: break-word;
    max-height: 300px;
    width: 95%;
    margin: 0 auto;
}

.messages-container p{
    margin: 2px 5px 2px 8px;
}

.messages-container p:not(:last-child){
    border-bottom: 0.5px solid #7CB342;
}


/* ################## SCROLLBAR ######################## */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #DCEDC8; 
    border-radius: 3px;
}

.messages-container::-webkit-scrollbar-track {
    background: #7CB342; 
    box-shadow: inset 0 0 5px rgb(33, 48, 17); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #558B2F; 
    border-radius: 3px;
    border: 0.5px solid black;
    border-right: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(50, 82, 27); 
}


/* --------------------------------- GAME STUFF -------------------------------------------*/

.scores {
    margin: 0;
    height: 20px;
}


/* PICTIONARY */

#pictionary {
    margin: 0 auto;
    background-color: #FFF;
    cursor: url(images/drawing.svg) 2 25, pointer;
}

/* TIC TAC TOE */

#board{
    width: calc(3 * var(--box-size) + 12px);
    height: calc(3 * var(--box-size) + 12px);
    margin: auto;
}

.tile{
    float: left;
    width: var(--box-size);
    height: var(--box-size);
    border: 2px solid black;
    font-size: 4rem;
    color: black;
    background-color: #AED581;
    text-align: center;
    cursor: pointer;
}