:root {
    --header-height: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

[v-cloak] {
    display: none;
}

.container {
    width: 960px;
    margin: 0 auto;
}

header {
    height: var(--header-height);
    background-image: linear-gradient(#219bff,#3a9ef0)
}

header h2 {
    height: var(--header-height);
    line-height: var(--header-height);
    text-transform: uppercase;
    display: inline-block;
    float: left;
}

nav{
    float: right;
}

nav li {
    height: var(--header-height);
    width: 120px;
    text-align: center;
    line-height: var(--header-height);
    text-transform: uppercase;
    display: inline-block;
}

nav li:hover {
    background-color: red;
}